<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semuan_stores</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container">
        <header class="row">
            <div >
                <a class="brand" href="#">Semuna Stores</a>
            </div>
            <div>
                <a href="#">Cart</a>
                <a href="#">Sign in</a>
                <a href="#">Hello </a>
            </div>

        </header>
        <main>
            <div class="row center">
                <div class="card">
                    <img class="meduim"src="./jima_img2/290.jpg"alt="product">
                    <div class="card-body">
                        <a href="#">
                            <h2>Mens Watch</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                        <div class="pricing">
                             UGX 100000  
                        </div>
                    </div>
                 </div>
                <div class="card">
                    <img class="meduim"src="./jima_img2/290.jpg"alt="product">
                    <div class="card-body">
                        <a href="#">
                            <h2>Mens Watch</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                        <div class="pricing">
                             UGX 100000  
                        </div>
                    </div>
                 </div>
                <div class="card">
                    <img class="meduim"src="./jima_img2/290.jpg"alt="product">
                    <div class="card-body">
                        <a href="#">
                            <h2>Mens Watch</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                  
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                        <div class="pricing">
                             UGX 100000  
                        </div>
                    </div>
                 </div>

            </div>

        </main>
        <footer class="row center">
            All right reserved
        </footer>
    </div>
    
</body>
</html>